<p-toast></p-toast>

<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <button pButton pRipple label="New User " icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openCreateModal()"></button>
  </ng-template>
</p-toolbar>

<!--Table-->
<p-table [value]="mydata" [(selection)]="selectedCustomer" selectionMode="single" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>FirtsName</th>
      <th>LastName</th>
      <th>Mobile</th>
      <th>address</th>
      <th>codemeli</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-mydata>
    <tr [pSelectableRow]="mydata">
       <td>{{ mydata.name}}</td>  
       <td>{{mydata.family}}</td>
       <td>{{mydata.mobile}}</td>
      <td>{{mydata.address}}</td>
      <td>{{mydata.codeMelli}}</td> 
      <!-- <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="openEditModal(mydata)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                (click)="deleteCustomer(mydata)"></button>
      </td> -->
    </tr>
  </ng-template>
</p-table>
